* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, sans-serif;
}

.wrapper {
  background-color: #374050;
  display: flex;
  padding-bottom: auto;
}

.nav {
  background-color: #374050;
  color: #a1aabc;  
  font-size: 14px;
  height: 100%;
  text-transform: uppercase;
  width: 15%;
}

.nav__avatar {
  background-image:  url('../images/jian_yang_whole.png');
  background-position: -55px 5px;
  background-size: 200px;
  border-radius: 50%;
  height: 100px;
  margin: 30px auto 50px auto;
  position: relative;
  width: 100px;
}

.nav__avatar-text {
  position: absolute;
  right: 17px;
  text-transform: none;
  top: 110px;
}

.nav__ul {
  border-top: 2px solid #262a2e;
  margin: 20px 0;
  padding-top: 20px;
}

.nav__li {
  padding: 10px;
}

.nav__li:hover {
  background-color: #262a2e;
  border-left: 4px solid #4ca4f3;
}

.nav__li-first {
  color: #6f6e6e;
  text-transform: none;
}

.nav__li-first:hover {
  background-color: #39414a;
  border: none;
  color: #6f6e6e;
}

.nav__li-category,
.nav__link {
  margin-left: 15px;
}

.nav__icon {
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: 14px;
  padding-left: 25px;
}

.nav__icon-home {
  background-image: url('../images/home.svg');
}

.nav__icon-home:hover {
  background-image: url('../images/home-hover.svg');
}

.nav__icon-jobs {
  background-image: url('../images/jobs.svg');
}

.nav__icon-jobs:hover {
  background-image: url('../images/jobs-hover.svg');
}

.nav__icon-resumes {
  background-image: url('../images/resumes.svg');
}

.nav__icon-resumes:hover {
  background-image: url('../images/resumes-hover.svg');
}

.nav__icon-task {
  background-image: url('../images/task.svg');
}

.nav__icon-task:hover {
  background-image: url('../images/task-hover.svg');
}

.nav__icon-calendar {
  background-image: url('../images/calendar.svg');
}

.nav__icon-calendar:hover {
  background-image: url('../images/calendar-hover.svg');
}

.nav__icon-users {
  background-image: url('../images/users.svg');
}

.nav__icon-users:hover {
  background-image: url('../images/users-hover.svg');
}

.nav__icon-locations {
  background-image: url('../images/locations.svg');
}

.nav__icon-locations:hover {
  background-image: url('../images/locations-hover.svg');
}

.nav__icon-workflow {
  background-image: url('../images/workflow.svg');
}

.nav__icon-workflow:hover {
  background-image: url('../images/workflow-hover.svg');
}

.nav__icon-job-boards {
  background-image: url('../images/job-boards.svg');
}

.nav__icon-job-boards:hover {
  background-image: url('../images/job-boards-hover.svg');
}

.nav__icon-social {
  background-image: url('../images/social.svg');
}

.nav__icon-social:hover {
  background-image: url('../images/social-hover.svg');
}

.nav__link {
  color: #c4c4c4;
  text-decoration: none;
}

.nav__link:hover {
  color:#fff;
}

.nav__categories {
  margin-bottom: 100%;
}

.nav__checkbox {
  cursor: pointer;
  margin-left: -5px;
  visibility: hidden;
}

.nav__checkbox + label:before {
  content: "\00a0";
  display: inline-block;
  height: 16px;
  margin-right: 10px;  
  width: 16px;
}

.nav__checkbox:checked + label:before {
  color: #333;
  content: "\2713";
  text-align: center;
}

.nav__checkbox:checked + label:after {
  font-weight: bold;
}

.nav__checkbox-yellow + label:before {
  background-color: #f6d34a;
}

.nav__checkbox-blue + label:before {
  background-color: #56acf6;
}

.nav__checkbox-red + label:before {
  background-color: #d43662;
}

.nav__checkbox-green + label:before {
  background-color: #4fa78c;
}

.main {
  background-color: #fff;
  height: 100%;
  width: 85%;
}

.search {
  border-bottom: 1px solid gray;
  display: flex;
  height: 75px;
}

.search__hamburger {
  background-image: url('../images/menu.svg');
  background-size: 30px;  
  width: 75px;
}

.search__hamburger:hover {
  background-image: url('../images/menu-hover.svg');
  background-color: #4ca4f3;
}

.search__hamburger-arrow {
  background-image: url('../images/arrow.svg');
  background-position-x: 47px;
  background-position-y: 27px;
  background-repeat: no-repeat;
  background-size: 15px;
  display: inline-block;
  height: 100%;
  margin-bottom: 10px;
  transform: rotate(180deg);
  width: 100%;
}

.search__form {
  display: inline;
  flex-grow: 5;
}

.search__input {
  border: none;
  font-size: 16px;
  height: 100%;
  width: 100%;
}

.search__input::placeholder {
  padding-left: 40px;
}

.search__input-background {
  background-image: url('../images/search.svg');
  background-position-x: 12px;
  background-position-y: 28px;
  background-repeat: no-repeat;
  background-size: 18px;
  border-left: 1px solid gray;
}

.search__button {
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 40%;
  border: none;
  float: right;
  height: 100%;
  width: 75px;
}

.search__button-first {
  background-image: url('../images/add-person.svg');
  border-left: 1px solid gray;
}

.search__button-first:hover {
  background-image: url('../images/add-person-hover.svg');
}

.search__button-middle {
  background-image: url('../images/add-date.svg');
  border-left: 1px solid gray;
}

.search__button-middle:hover {
  background-image: url('../images/add-date-hover.svg');
}

.search__button-last {
  background-image: url('../images/settings.svg');
  border-left: 1px solid gray;
}

.search__button-last:hover {
  background-image: url('../images/settings-hover.svg');
}

.search__button:hover {
  background-color: #4ca4f3;
}

.header {
  margin-bottom: 50px;
  margin-left: 30px;
  margin-top: 50px;
  position: relative;
}

.header__title {
  color: #464343;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.header__location {
  background-image: url('../images/locations.svg');
  background-position-y: 50%;
  background-repeat: no-repeat;
  color: #8a8787;
  display: inline;
  font-size: 14px;
  padding-left: 20px;
}

.header__link {
  text-decoration: none;
  color: #4ca4f3;
}

.header__button {
  background-color: rgba(0, 0, 0, 0);
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 50%;
  border-radius: 50%;
  height: 35px;
  position: absolute;
  width: 35px;
}

.header__button:hover {
  background-color: rgba(198, 198, 198, 0.5);
}

.header__button-open {
  border-radius: 28px;
  color: #8a8787;
  font-size: 14px;
  font-weight: bold;
  right: 200px;
  text-transform: uppercase;
  width: 95px;
}

.header__button-dot {
  color: #9cc155;
  font-size: 28px;
}

.header__button-open-text {
  vertical-align: super;
}

.header__button-bookmark {
  background-image: url('../images/bookmark.svg');
  right: 140px;
}

.header__button-edit {
  background-image: url('../images/edit.svg');
  right: 85px;
}

.header__button-delete {
  background-image: url('../images/delete.svg');
  right: 30px;
}

.info-tab {
  margin-left: 22px;
}

.info__hamburger {
  display: none;
}

.info__hamburger-arrow {
  display: none;
}

.info-tab__ul {
  margin-bottom: 13px;
}

.info-tab__li {
  color: #8a8787;
  display: inline;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  padding: 10px;
  text-transform: uppercase;
}

.info-tab__li:hover {
  border-bottom: 3px solid #4ca4f3;
  color: #605e5e;
}

.bottom-wrapper {
  background-color: #eef2f6;
  border-top: 1px solid gray;
}

.graphs {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
}

.graphs__donuts,
.graphs__bar {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.graphs__button {
  border: 2px solid #cecdcd;
  border-radius: 28px;
  color: #64707e;
  display: block;
  height: 28px;
  width: 200px;
}

.graphs__bar-image {
  margin: 20px;
  width: 90%;
}

.description {
  border-top: 2px solid;
  display: flex;
  height: 100%;
  margin: 50px 30px 0 30px;
  padding-bottom: 7%;
  padding-top: 50px;
}

.description__article {
  display: flex;
  margin-right: 50px;
  width: 70%;
}

.description__table {
  border-collapse: collapse;
  border: 1px solid gray;
  height: 100%;
}

.description__table-th-first {
  width: 20%;  
}

.description__table-th-second {
  width: 50%
}

.description__table-tr {
  border-top: 1px solid;
}

td, th {
  padding: 16px;
}

.description__head {
  background-color: #727d95;
  border-top: 1px solid gray;
  border: none;
  color: #fff;
  padding: 15px;
  text-align: left;
  width: 100%;
}

.description__edit-btn {
  background-color: #7f8ca0;
  background-image: url('../images/edit-hover.svg');
  background-position-x: 10px;
  background-position-y: 7px; 
  background-repeat: no-repeat;
  background-size: 12px;
  border: none;
  color: #fff;
  padding: 7px 10px 7px 25px;
  width: 60px;
}

.description__table-td-first {
  color: #64707e;
  font-weight: bold;
}

.description__table-td-last {
  color: #64707e;
}

.description__table-bachman {
  background-image: url('../images/bachman.jpg');
  background-position-x: 0%;
  background-position-y: 30%;
  background-repeat: no-repeat;
  background-size: 55px;
  border-radius: 50%;
  padding-left: 55px;
}

.description__aside {
  width: 30%;
}

.description__social {
  background-position-x: 10%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: 20px;
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: 700;
  height: 40px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 100%;
}

.description__social-facebook {
  background-color: #475993;
  background-image: url('../images/facebook.svg');
}

.description__social-twitter {
  background-color: #4ba8ea;
  background-image: url('../images/twitter.svg');
  background-size: 25px;
}

.description__social-linkedin {
  background-color: #0077B7;
  background-image: url('../images/linkedin.svg');
}

.description__heading {
  color: #64707e;
  font-weight: bold;
  margin-bottom: 15px;
  margin-top: 15px;
}

.description__heading-icon {
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: no-repeat;
  background-size: 15px;
  padding-left: 20px;
}

.description__heading-icon-link-to {
  background-image: url('../images/world.svg')
}

.description__heading-icon-widget {
  background-image: url('../images/tape.svg')
}

.description__heading-icon-plane {
  background-image: url('../images/plane.svg')
}

.description__body {
  color: #64707e;
  font-size: 14px;
  margin-bottom: 15px;
}

.description__input {
  display: inline-block;
  padding: 10px;
  width: 78.9%;
}

.description__input-last {
  width: 100%;
}

.description__form-submit {
  background-color: #6bb9c0;
  border: none;
  color: white;
  height: 32px;
  width: 18.9%;
}

@media only screen and (max-width: 1050px) {
  .nav {
    width: 20%;
  }

  .info-tab__li {
    margin-right: 4px;
    padding-right: 4px;
  }

  .description__input {
    width: 74.9%;
  }

  .description__form-submit {
    width: 21.9%;
  }

  .description__input-last {
    width: 100%;
  }
}

@media only screen and (max-width: 950px) {
  .graphs {
    display: flex;
    flex-direction: column;
    margin-left: 0;
  }

  .graphs__donuts {
    border-bottom: 1px solid;
    padding-bottom: 20px;
  }

  .info-tab__ul {
    display: none;
  }

  .info__hamburger {
    background-image: url('../images/menu.svg');
    background-repeat: no-repeat;
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .info__hamburger-arrow {
    background-image: url('../images/arrow.svg');
    background-position-y: 7px;
    background-repeat: no-repeat;
    background-size: 15px;
    display: inline-block;
    height: 30px;
    margin-bottom: 10px;
    width: 30px;
  }

  .description__input {
    width: 100%;
  }

  .description__form-submit {
    width: 100%;
  }
}

@media only screen and (max-width: 825px) {
  .description {
    flex-direction: column;
    padding-bottom: 7%;
    padding-top: 50px;
  }

  .description__article {
    border-bottom: 2px solid;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 100%;
  }

  .description__aside {
    border-bottom: 2px solid;
    padding-bottom: 30px;
    width: 100%;
  }

  .header {
    margin-top: 20px;
    padding-bottom: 40px;
  }

  .header__button {
    top: 75px;
  }

  .header__button-open {
    left: 0px;
  }

  .header__button-bookmark {
    left: 110px;
  }

  .header__button-edit {
    left: 160px;
  }

  .header__button-delete {
    left: 210px;
  }
}

@media only screen and (max-width: 750px) {
  .nav {
    display: none;
  }

  .main {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .search {
    height: 50px;
  }

  .search__input-background {
    background-position-y: 15px;
  }

  .search__input::placeholder {
    font-size: 14px;
    padding-left: 35px;
  }

  .search__button {
    width: 50px;
  }
}